.goog-te-banner-frame,
.goog-te-menu-frame,
#goog-gt-tt,
.goog-te-spinner-pos,
.custom-translate {
    display: none !important;
}

body {
    top: 0 !important;
    margin: 0;
    padding: 5rem;
    min-height: 0 !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: 0;
    focus: 0;
}

.googleTranslateButton {
    padding: 0.2rem 0.4rem;
    margin: 0.2rem;
    background-color: #ddd;
    color: #fff;

    &.isActive {
        background-color: hotpink;
    }
}
